// colors website


$colo-white:   #FFFFFF;

//nav
$logo-gray:    rgba(107,117,140,100);

//header div
$dark-gray:    rgba(38, 43, 56, 0.90);
$grayish-blue: #3D4351;

//heads 
$blackish:     #3D4351;

// p with color
$color-red:    #FF0000;
$gray:         #1C3653;
$lighter-gray: #607286;

//button
$btn-pink:     #FF5274;

//body with classes

//product
$whitish:      #F7F8FA; 
$dark-white:   #E6E9EA;
$product-p:    rgba(28,54,83,0.70);

//customise
$orange:       #F69D52;
$gray-p:       #ACB1B4;

//news and blog, signup
$dark-gray-p:  #7A8387;
$gray-h:       #ACB1B4;
$link-gray:    #677074;

//Footer

//footer main background
//up-link
$back-grayish: #495061;
$back-btn-up:  #3D4351;

//footer right-side background:
$light-black:  #373D4A;